.photo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-top{
    width: 620px;
    height: 400px;
    margin: 10px;
    border-radius: 24px;
}

.photo-bottom{
    display: flex;
}

.photo-bottom img{
    width: 196px;
    height: 140px;
    margin: 10px;
    border-radius: 12px;
}