.header-container{
    height: var(--header-height);
    background-color: #00a2e1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-logo{
    display: flex;
    justify-content: space-between;
    width: 150px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.header-btns{
    display: flex;
   
   
}

.header-btns p{
    padding: 0 10px;
}