
.property-container{
    display: flex;
    flex-direction: column;
    margin: 10px;

    width: 400px;
   
}
.property-img{
    width: 400px;
    height: 280px;
    border-radius: 16px 16px 0 0;
}

.info-bar{
    display: flex;
    height: 80px;
    background-color:#3A5295;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.info-bar-right{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.type-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100px; */
    
    padding: 10px;
    
}

.prop-info{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.prop-info p{
    text-align: center;
    margin-bottom: 10px;
}

.view-bar{
    height: 50px;
    border-radius: 0 0 12px 12px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-bar-right span{
    font-size: 1.5em;
    margin: 0 10px;
}