.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-rows: auto auto auto;
    padding: 30px;
    column-gap: 50px;
    row-gap: 50px;
}

 .photo-box{
    width: 40%;
}

.info-box{
    width: 40%;
} 

/* ul{
    list-style-image: url('../../assets/check.png');
} */