.homepage-container{
    /* margin-top: var(--header-height); */
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-container h2{
    margin-top: 20px;
}
.cities-container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.compare-boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.compare-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.homepage-bottom{
    display: flex;
}

.homepage-bottom img{
    width: 35%;
}

.bottom-left{
    display: flex;
    flex-direction: column;
}

.see-cities-btn{
    width: 200px;
    border-radius: 8px;
    color: white;
    background-color: #3A5295;
    padding: 8px;
}